body {
  place-items: center;
  background-color: #f4f7fa; /* Fondo muy claro */
  color: #333333; /* Texto oscuro para contraste */
  font-family: 'Roboto', sans-serif; /* Fuente clara y legible */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  width: 50%;
}

